<!-- <p>goal works!</p> -->
<!-- <div>
    <h1>My Goals</h1>
    <hr>
    <ul>
      <li *ngFor='let goal of goals'>
        {{goal.name}}
        <app-goal-detail [goal]='goal'></app-goal-detail>
      </li>
    </ul>
    <ul>
    <div *ngFor='let goal of  goals; let i=index'>
      <li>
        {{goal.name}}
      </li>
      <button (click)="toggleDetails()i">Toggle Details</button>
      <app-goal-detail *ngIf="goal.showDescription"[goal]='goal'></app-goal-detail>
    </div>
  </ul>
  <p *ngIf='goals.length > 5'>You have too many goals</p>
  </div> -->
  <div>
    <h1>My Goals</h1>
    <hr>
    <ul>
      <li *ngFor='let goal of goals'>
       {{goal.id}}, {{goal.name}} {{goal.description}}
      </li>
    </ul>
    <p *ngIf='goals.length > 5'>You have too many goals</p>
  </div>
  <div>
    <app-goal-detail></app-goal-detail>
  </div>

  